<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Exemplo MVC com query String</h1>
        <label>Nome: </label><span th:text="${nomeAttr}">nome preechido</span><br>
        <label>Idade: </label><span th:text="*{idadeAttr}? *{idadeAttr} : 'Não Informado'">idade preechida</span>
        
    </body>
</html>
